<meta charset="utf-8" /> <meta charset="utf-8" /><b
  style="font-weight: normal"
  id="docs-internal-guid-225c5cdb-7fff-cfe5-c0f3-15dba2954635"
>
  <div dir="ltr" style="margin-left: 0pt" align="left">
    <table
      style="
        border: none;
        border-collapse: collapse;
        table-layout: fixed;
        width: 468pt;
      "
    >
      <colgroup>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
      </colgroup>
      <tbody>
        <tr style="height: 0pt">
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 700;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >&nbsp;</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 700;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Native time tracking</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 700;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Multiple view types</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 700;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Templates</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 700;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >forever-free plan</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 700;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Pricing</span
              >
            </p>
          </td>
        </tr>
        <tr style="height: 0pt">
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <a
                href="https://link.technologyadvice.com/r/monday.com-tr-scrum-project-management-software"
                style="text-decoration: none"
                ><span
                  style="
                    font-size: 11pt;
                    font-family: Arial, sans-serif;
                    color: #1155cc;
                    background-color: transparent;
                    font-weight: 700;
                    font-style: normal;
                    font-variant: normal;
                    text-decoration: underline;
                    -webkit-text-decoration-skip: none;
                    text-decoration-skip-ink: none;
                    vertical-align: baseline;
                    white-space: pre;
                    white-space: pre-wrap;
                  "
                  >monday.com</span
                ></a
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >$8 per person per month</span
              >
            </p>
          </td>
        </tr>
        <tr style="height: 0pt">
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <a
                href="https://link.technologyadvice.com/r/jira-tr-scrum-project-management-software"
                style="text-decoration: none"
                ><span
                  style="
                    font-size: 11pt;
                    font-family: Arial, sans-serif;
                    color: #1155cc;
                    background-color: transparent;
                    font-weight: 700;
                    font-style: normal;
                    font-variant: normal;
                    text-decoration: underline;
                    -webkit-text-decoration-skip: none;
                    text-decoration-skip-ink: none;
                    vertical-align: baseline;
                    white-space: pre;
                    white-space: pre-wrap;
                  "
                  >Jira</span
                ></a
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >$7.75 per person per month</span
              >
            </p>
          </td>
        </tr>
        <tr style="height: 0pt">
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <a
                href="https://link.technologyadvice.com/r/clickup-tr-scrum-project-management-software"
                style="text-decoration: none"
                ><span
                  style="
                    font-size: 11pt;
                    font-family: Arial, sans-serif;
                    color: #1155cc;
                    background-color: transparent;
                    font-weight: 700;
                    font-style: normal;
                    font-variant: normal;
                    text-decoration: underline;
                    -webkit-text-decoration-skip: none;
                    text-decoration-skip-ink: none;
                    vertical-align: baseline;
                    white-space: pre;
                    white-space: pre-wrap;
                  "
                  >ClickUp</span
                ></a
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >$5 per person per month</span
              >
            </p>
          </td>
        </tr>
        <tr style="height: 0pt">
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <a
                href="https://link.technologyadvice.com/r/wrike-tr-scrum-project-management-software"
                style="text-decoration: none"
                ><span
                  style="
                    font-size: 11pt;
                    font-family: Arial, sans-serif;
                    color: #1155cc;
                    background-color: transparent;
                    font-weight: 700;
                    font-style: normal;
                    font-variant: normal;
                    text-decoration: underline;
                    -webkit-text-decoration-skip: none;
                    text-decoration-skip-ink: none;
                    vertical-align: baseline;
                    white-space: pre;
                    white-space: pre-wrap;
                  "
                  >Wrike</span
                ></a
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >$9.80 per person per month</span
              >
            </p>
          </td>
        </tr>
        <tr style="height: 0pt">
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <a
                href="https://link.technologyadvice.com/r/lucidspark-main"
                style="text-decoration: none"
                ><span
                  style="
                    font-size: 11pt;
                    font-family: Arial, sans-serif;
                    color: #1155cc;
                    background-color: transparent;
                    font-weight: 700;
                    font-style: normal;
                    font-variant: normal;
                    text-decoration: underline;
                    -webkit-text-decoration-skip: none;
                    text-decoration-skip-ink: none;
                    vertical-align: baseline;
                    white-space: pre;
                    white-space: pre-wrap;
                  "
                  >Lucidspark</span
                ></a
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >No</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >No</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >$7.95 per person per month</span
              >
            </p>
          </td>
        </tr>
        <tr style="height: 0pt">
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <a
                href="https://link.technologyadvice.com/r/basecamp-main"
                style="text-decoration: none"
                ><span
                  style="
                    font-size: 11pt;
                    font-family: Arial, sans-serif;
                    color: #1155cc;
                    background-color: transparent;
                    font-weight: 700;
                    font-style: normal;
                    font-variant: normal;
                    text-decoration: underline;
                    -webkit-text-decoration-skip: none;
                    text-decoration-skip-ink: none;
                    vertical-align: baseline;
                    white-space: pre;
                    white-space: pre-wrap;
                  "
                  >Basecamp</span
                ></a
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >No</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >No</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >$15 per person per month</span
              >
            </p>
          </td>
        </tr>
        <tr style="height: 0pt">
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <a
                href="https://link.technologyadvice.com/r/trello-tr-scrum-project-management-software"
                style="text-decoration: none"
                ><span
                  style="
                    font-size: 11pt;
                    font-family: Arial, sans-serif;
                    color: #1155cc;
                    background-color: transparent;
                    font-weight: 700;
                    font-style: normal;
                    font-variant: normal;
                    text-decoration: underline;
                    -webkit-text-decoration-skip: none;
                    text-decoration-skip-ink: none;
                    vertical-align: baseline;
                    white-space: pre;
                    white-space: pre-wrap;
                  "
                  >Trello</span
                ></a
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >$5 per person per month</span
              >
            </p>
          </td>
        </tr>
        <tr style="height: 0pt">
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <a
                href="https://link.technologyadvice.com/r/asana-tr-scrum-project-management-software"
                style="text-decoration: none"
                ><span
                  style="
                    font-size: 11pt;
                    font-family: Arial, sans-serif;
                    color: #1155cc;
                    background-color: transparent;
                    font-weight: 700;
                    font-style: normal;
                    font-variant: normal;
                    text-decoration: underline;
                    -webkit-text-decoration-skip: none;
                    text-decoration-skip-ink: none;
                    vertical-align: baseline;
                    white-space: pre;
                    white-space: pre-wrap;
                  "
                  >Asana</span
                ></a
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >No</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >Yes</span
              >
            </p>
          </td>
          <td
            style="
              border-left: solid #000000 1pt;
              border-right: solid #000000 1pt;
              border-bottom: solid #000000 1pt;
              border-top: solid #000000 1pt;
              vertical-align: top;
              padding: 5pt 5pt 5pt 5pt;
              overflow: hidden;
              overflow-wrap: break-word;
            "
          >
            <p
              dir="ltr"
              style="line-height: 1.38; margin-top: 0pt; margin-bottom: 10pt"
            >
              <span
                style="
                  font-size: 11pt;
                  font-family: Arial, sans-serif;
                  color: #000000;
                  background-color: transparent;
                  font-weight: 400;
                  font-style: normal;
                  font-variant: normal;
                  text-decoration: none;
                  vertical-align: baseline;
                  white-space: pre;
                  white-space: pre-wrap;
                "
                >$10.99 per person per month</span
              >
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</b>
